
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;}
.wrap{
    max-width: 1110px;
    margin: 0 auto;
}
.log1{
    display: inline-flex;
    margin-bottom: 64px;
}
a{
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;}
ul, ol{
        list-style-type:none;
        margin:0;
        padding:0;
      }
h1{
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 89px;
    letter-spacing: -2.5px;
    margin-bottom: 64px;}
.nav{
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    display: flex;
    letter-spacing: 2.5px;
    margin: 13px 0;
    }
.nav>li{
    padding: 0 25px;
}
.page-heder{
    margin-top: 56px;
    margin-bottom: 510px;
    background-image: url(../img/фон1.png);
}
a:hover{
    color:lightblue;}
.btn-free{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 21px 50px;
    transform: 0.5s;
}
.btn-free:hover {
  color: #1085e4;
  background: #d3e9ff;
  border: 1px solid #1085e4;
}
.btn-grup a+a {
    margin-left: 15px;
    margin-bottom: 50px;
}
.btn-grup{
    margin-bottom: 330px;
}
.grid h2{
    font-size: 40px;
    color: #192b59;
    font-weight: 700;}
.grid h2 span{
    font-size: 14px;
    color: #1085e4;
    display: block;}
.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;}
.grid-item a{
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;}

    .title-h2 {
        font-size: 50px;
        font-weight: 600;
        color: #192b59;
        line-height: 1.2;
        letter-spacing: -1.5px;
    }
    
    .title-h2 span {
        display: block;
        font-size: 16px;
        font-weight: 800;
        color: #1085e4;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    
    .title-h2-40 {
        font-size: 40px;
        font-weight: 600;
        color: #192b59;
        line-height: 1.2;
        letter-spacing: -1.1px;
    }
    
    .title-h2-40 span {
        display: block;
        font-size: 18px;
        font-weight: 800;
        color: #1085e4;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 3.5px;
    }
    
    
    /* Конец заголовки  */
    
    /* Блок page-grid */
    
    .grid h2 {
        font-size: 40px;
        color: #192b59;
        font-weight: 700;
    }
    
    .grid h2 span {
        font-size: 14px;
        color: #1085e4;
        display: block;
    }
    
    .grid-item h3 {
        font-size: 20px;
        font-weight: 600;
        color: #192b59;
    }
    .grid-item a {
        font-size: 14px;
        font-weight: 600;
        color: #1085e4;
    }
    
    
    /* Конец Блок page-grid */
    
    /* PAGE */
    
    .page-company {
        background-image: url(../img/company-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0 100px 0;
    }
    
    /* END PAGE */
    
    .grid-item{
        text-align: center;
        box-shadow: 0 0 5px #9aa3ba;
    }
    .grid-icon{
        background-repeat: no-repeat;
        margin: 0 auto;
        display: block;
        height: 90px;
    }
    .grid-icon-1{
        background-image: url(../img/bg3_icon1.png);
        background-size: 55px 70px;
        background-position: center;
    }
    .grid-icon-2{
        background-image: url(../img/bg3_icon2.png);
        width: 77px;
        height: 77px;
    }
    .grid-icon-3{
        background-image: url(../img/bg3_icon3.png);
        width: 77px;
        height: 77px;
    }
    .grid-icon-4{
        background-image: url(../img/bg3_icon4.png);
        width: 77px;
        height: 77px;
    }
    .grid-icon-5{
        background-image: url(../img/bg3_icon5.png);
        width: 77px;
        height: 77px;
    }
    .grid-icon-6{
        background-image: url(../img/bg3_icon6.png);
        width: 77px;
        height: 77px;
    }
    
    .grid{
        display: grid;
        grid-template-areas: "A B C" "D B C" "D E F" "G H H";
        grid-gap: 35px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid-item-titl{
        grid-area: A;
    }
    .grid-item-1{
        grid-area: B;
    }
    .grid-item-2{
        grid-area: C;
    }
    .grid-item-3{
        grid-area: D;
    }
    .grid-item-4{
        grid-area: E;
    }
    .grid-item-5{
        grid-area: F;
    }
    .grid-item-6{
        grid-area: G;
    }
    .grid-item-text{
        grid-area: H;
    }
.grid-leb h4{
    font-size: 17px;
    color: #1085e4;
    font-weight: 400;}
.grid-leb h4 span{
    font-size: 17px;
    color: #192b59;
    font-weight: 600;}
.page-subscribe h2{
    font-size: 50px;
    color: #fff;
    font-weight: 600}
.page-subscribe h2 span{
    font-size: 12px;
    color: #00bffe;
    display: block;}
.page-subscribe input{
    font-size: 15px;
    color: #b1c3ee;
    font-weight: 400;}


.page-software h2{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;}
.page-software dt{
    font-size: 17;
    font-weight: 700;}
.page-stat h2{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: -1.5px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 75px;}
.page-stat h2 span{
    font-size: 13px;
    color: #00bffe;
    display: block;
}

.page-stat ul span{
    font-size: 60px;
    color: #bacbdc;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    display: block;}
.page-stat ul {
    color: #1085e4;
    font-size: 12px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2.5px;
text-align: center;
}

.page-app h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;}
 .page-app p{
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;}
.page-app h3{
    font-size: 16px;
    color: #7581a1;}
.page-slad1 h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;}
.page-slad2 h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;}
.page-screen h2{
    font-size: 40px;
    color: #192b59;
    font-weight: 600;}
.page-screen h2 span{
    font-size: 18px;
    color: #00bffe;
    display: block;
    font-weight: 600;}

.page-clients h2 span{
    color: #85c8ff;
    font-size: 18px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;}

.page-clients h2{
    font-size: 40px;
    color: #fff;
    font-weight: 600;} 

.page-clients h4 span{
   color: #192b59; 
   font-size: 18px;
   display: block;
}
.page-clients h4{
    color: #1085e4; 
    font-size: 13px;
 }

.page-plan h2 span {
    color: #1085e4;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;}

.page-plan h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;}

.box-price-item h3{
    color:#192b59;
    font-size: 25px;
    font-weight: 800;
}
.box-price-item ul{
    margin-bottom: 61px;
}

.active h3{
    color: #fff;
    font-size: 25px;
    font-weight: 800;}

.box-price-item p {
    color:#1085e4;
    font-size: 15px;
    font-weight: 400;
}
.active p{
    color: #fff;
    font-size: 25px;
    font-weight: 800;}
.btn1{
    color: #7581a1;
    font-weight: 700;
    font-size: 12px;
    background: transparent;
    padding: 20px 75px;
    border: 2px solid #7581a1;
    }
.btn1:hover {
      color: #f5faff;
      background: #d3e9ff;
      border: 1px solid #f5faff;
    }
.btn2{
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    background-color: #1085e4;
    padding: 21px 58px;
    border: 1px solid #1085e4;
    border-radius: 50px;
}
.btn2:hover {
  color: #1085e4;
  background: #d3e9ff;
  border: 1px solid #1085e4;
  padding: 21px 58px;
  font-size: 12px;
  border-radius: 50px;
}
.btn3{
    color: rgb(121, 121, 121);
    font-weight: 700;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    font-size: 12px;
    padding: 21px 52px;
}
.btn3:hover {
    color: #fff;
    background: #5db6ff;
    border: 1px solid #cbdbe8;
  }
  .box-team h3 span{
    color: #85c8ff;
    font-size: 18px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;}

.box-team h3{
    font-size: 40px;
    color: #fff;
    font-weight: 600;} 
.t1{
    font-size: 12px;
    color: #1085e4;
    font-weight: 600;
}
.t2{
    font-size: 21px;
    color: #192b59;
    font-weight: 600;
}
.page-form h2{
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
}
.footer p{
    color: #192b59;
    /*color: #fff;*/
    font-size: 17px;
}
.footer a{
    color: #1085e4;
    /*color: #fff;*/
    font-size: 17px;
}
.list-start{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}



.page-stat{
    background-color: #edf6ff;
    padding: 115px 0 95px 0;
}
.btn4{
    color: #fff;
    font-weight: 700;
    background-color: #1085e4;
    padding: 15px 55px;
    border: 1px solid #1085e4;
    border-radius: 50px;
}
.btn4:hover {
  color: #1085e4;
  background: #d3e9ff;
  border: 1px solid #1085e4;
  padding: 15px 55px;
  border-radius: 50px;
}
.btn2_1{
    color: #fff;
    font-weight: 700;
    background-color: #1085e4;
    padding: 20px 67px;
    border: 1px solid #1085e4;
    border-radius: 50px;
}
.btn2_1:hover {
  color: #1085e4;
  background: #d3e9ff;
  border: 1px solid #1085e4;
  padding: 20px 67px;
  border-radius: 50px;
}
.btn2_2{
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    background-color: #1085e4;
    padding: 21px 75px;
    border: 1px solid #1085e4;
    border-radius: 50px;
}
.btn2_2:hover {
  color: #1085e4;
  background: #d3e9ff;
  border: 1px solid #1085e4;
  padding: 21px 75px;
  border-radius: 50px;
}

.nav1{
    padding: 105px;
    display: flex;
}
.nav1>li{
    padding: 0 55px;
}
.page-company{
    height: 30vh;
	background-color: #1085e4;
	
    
}
.page-subscribe{
    height: 48vh;
    background: linear-gradient(90deg, #0a2090, #2377cd);
	
}
.robofon{
    display: flex;
}
.kr1{
    display: block;
}

